*{
    margin: 0px;
    padding: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

