<div id="form8">
    <link rel="stylesheet" href="../../static/styles/form8.css">
    <script src="../../static/js/componentSwitch.js"></script>

    <div class="mt-3 d-flex flex-row justify-content-center">
        <h1>Enter your details:</h1>
    </div>

        <label for="">Management or Technical?</label>
        <br>
        <label for="management">Management</label>
        <input type="radio" name="management" value="management" id="manage_tech_choice1">
        <br>
        <label for="technical">Technical</label>
        <input type="radio" name="technical" value="technical" id="manage_tech_choice2">
        <br>
        <label for="">Work for salary or satisfaction of work?</label>
        <br>
        <label for="salary">Salary</label>
        <input type="radio" name="salary" value="salary" id="work_sal1">
        <br>
        <label for="satisfaction">Satisfaction of work</label>
        <input type="radio" name="satisfaction" value="satisfaction" id="work_sal2">
        <br>
        <label for="">Hard or Smart worker?</label>
        <br>
        <label for="hard">Hard</label>
        <input type="radio" name="hard" value="hard" id="hard_smart1">
        <br>
        <label for="smart">Smart</label>
        <input type="radio" name="smart" value="smart" id="hard_smart2">
        <br>
        <label for="">Have you worked in a team before?</label>
        <br>
        <label for="yes">Yes</label>
        <input type="radio" name="team_before" value="yes" id="team_before_yes">
        <br>
        <label for="no">No</label>
        <input type="radio" name="team_before" value="no" id="team_before_no">
        <br>
        <label for="">Introvert or not?</label>
        <br>
        <label for="introvert">Introvert</label>
        <input type="radio" name="introvert" value="introvert" id="introvert_not1">
        <br>
        <label for="not">Not</label>
        <input type="radio" name="not" value="not" id="introvert_not2">
    
    <div class="d-flex flex-row justify-content-around">
        <input type="button" onclick="eight()" class="mt-5 btn btn-primary" value="Submit">
    </div>

    </form>
</div>