<div id="form5">
    <link rel="stylesheet" href="../../static/styles/form5.css">
    <script src="../../static/js/componentSwitch.js"></script>
    <div>
        <label for="">How would you classify your readin and writing skills?</label>
        <br>
        <label for="read-write">Excellent</label>
        <input type="radio" name="read-write" value="Excellent" id="read-write-excellent">
        <label for="read-write">Medium</label>
        <input type="radio" name="read-write" value="Medium" id="read-write-medium">
        <label for="read-write">Poor</label>
        <input type="radio" name="read-write" value="Poor" id="read-write-poor">
        <br>
        <br>
        <label for="">How would you rate your memory skills</label>
        <br>
        <label for="memory">Excellent</label>
        <input type="radio" name="memory" value="Excellent" id="memory-excellent">
        <label for="memory">Medium</label>
        <input type="radio" name="memory" value="Medium" id="memory-medium">
        <label for="memory">Poor</label>
        <input type="radio" name="memory" value="Poor" id="memory-poor">
    </div>
    <div class="d-flex flex-row justify-content-around">
        <input type="button" onclick="switchFivetoFour()" class="mt-5 btn btn-primary" value="Back">
        <input type="button" onclick="switchFiveToSix()" class="mt-5 btn btn-primary" value="Next">
    </div>
</div>