<div id="form6">
    <link rel="stylesheet" href="../../static/styles/form6.css">
    <script src="../../static/js/componentSwitch.js"></script>
    <div>
        <label for=""><strong>Interested Subjects:</strong></label>
        <br>
        <input type="checkbox" value="cloud computing" name="cloud_computing" id="interests1">
        <label for="cloud_computing">cloud computing</label>
        <br>
        <input type="checkbox" value="networks" name="networks" id="interests2">
        <label for="networks">networks</label>
        <br>
        <input type="checkbox" value="hacking" name="hacking" id="interests3">
        <label for="hacking">hacking</label>
        <br>
        <input type="checkbox" value="computer architecture" name="computer_architecture" id="interests4">
        <label for="computer_architecture">computer architecture</label>
        <br>
        <input type="checkbox" value="programming" name="programming" id="interests5">
        <label for="programming">programming</label>
        <br>
        <input type="checkbox" value="parallel computing" name="parallel_computing" id="interests6">
        <label for="parallel_computing">parallel computing</label>
        <br>
        <input type="checkbox" value="iot" name="iot" id="interests7">
        <label for="iot">iot</label>
        <br>
        <input type="checkbox" value="data engineering" name="data_engineering" id="interests8">
        <label for="data_engineering">data engineering</label>
        <br>
        <br>
        <label for="careeer_area"><strong>Interested Career area:</strong></label>
        <br>
        <input type="checkbox" value="system developer" name="system_developer" id="career_interest1">
        <label for="system_developer">system developer</label>
        <br>
        <input type="checkbox" value="business process analyst" name="business_process_analyst" id="career_interest2">
        <label for="business_process_analyst">business developer</label>
        <br>
        <input type="checkbox" value="developer" name="developer" id="career_interest3">
        <label for="developer">developer</label>
        <br>
        <input type="checkbox" value="testing" name="testing" id="career_interest4">
        <label for="testing">testing</label>
        <br>
        <input type="checkbox" value="security" name="security" id="career_interest5">
        <label for="security">security</label>
        <br>
        <input type="checkbox" value="cloud computing" name="cloud_computing" id="career_interest6">
        <label for="cloud_computing">cloud computing</label>
        <br>
        <br>
        <label for=""><strong>Job or higher studies</strong></label>
        <br>
        <input type="radio" name="future_plan" id="job" value="job">
        <label for="future_plan">Job</label>
        <br>
        <input type="radio" name="future_plan" value="higher studies">
        <label for="future_plan">higher studies</label>
    </div>

    <div class="d-flex flex-row justify-content-around">
        <input type="button" onclick="switchSixToFive()" class="mt-5 btn btn-primary" value="Back">
        <input type="button" onclick="switchSixToSeven()" class="mt-5 btn btn-primary" value="Next">
    </div>
</div>