<div id="form4">
    <link rel="stylesheet" href="../../static/styles/form4.css">
    <script src="../../static/js/componentSwitch.js"></script>

    <div class="mt-3 d-flex flex-row justify-content-center">
        <h1>Enter your details:</h1>
    </div>

    <div>
        <label class="mt-2">Certifications:</label>
        <br>
        <label for="shell_programming">shell programming</label>
        <input type="checkbox" name="shell_programming" value="shell programming" id="cert1">
        <br>
        <label for="machine_learning">machine learning</label>
        <input type="checkbox" name="machine_learning" value="machine learning" id="cert2">
        <br>
        <label for="app_development">app development</label>
        <input type="checkbox" name="app_development" value="app development" id="cert3">
        <br>
        <label for="python">python</label>
        <input type="checkbox" name="python" value="python" id="cert4">
        <br>
        <label for="r_programming">r programming</label>
        <input type="checkbox" name="r_programming" value="r programming" id="cert5">
        <br>
        <label for="information_security">information security</label>
        <input type="checkbox" name="information_security" value="information security" id="cert6">
        <br>
        <label for="hadoop">hadoop</label>
        <input type="checkbox" name="hadoop" value="hadoop" id="cert7">
        <br>
        <label for="distro_making">distro making</label>
        <input type="checkbox" name="distro_making" value="distro making" id="cert8">
        <br>
        <label for="full_stack">full stack</label>
        <input type="checkbox" name="full_stack" value="fullstack" id="cert9">
        <br>
        <br>
        <label class="mt-2">Workshops:</label>
        <br>
        <label for="cloud_computing">Cloud Computing</label>
        <input type="checkbox" name="cloud_computing" value="cloud computing" id="workshop1">
        <br>
        <label for="database_security">Database Security</label>
        <input type="checkbox" name="database_security" value="database security" id="workshop2">
        <br>
        <label for="web_technologies">Web Technologies</label>
        <input type="checkbox" name="web_technologies" value="web technologies" id="workshop3">
        <br>
        <label for="data_science">Data Science</label>
        <input type="checkbox" name="data_science" value="data science" id="workshop4">
        <br>
        <label for="testing">testing</label>
        <input type="checkbox" name="testing" value="testing" id="workshop5">
        <br>
        <label for="hacking">hacking</label>
        <input type="checkbox" name="hacking" value="hacking" id="workshop6">
        <br>
        <label for="game_development">Game Development</label>
        <input type="checkbox" name="game_development" value="game development" id="workshop7">
        <br>
        <label for="system_design">System Design</label>
        <input type="checkbox" name="system_design" value="system design" id="workshop8">
    </div>
    
    <div class="d-flex flex-row justify-content-around">
        <input type="button" onclick="switchFourtoThree()" class="mt-5 btn btn-primary" value="Back">
        <input type="button" onclick="switchFourToFive()" class="mt-5 btn btn-primary" value="Next">
    </div>

    </form>
</div>