<div id="form2">
    <link rel="stylesheet" href="../../static/styles/form2.css">
    <script src="../../static/js/componentSwitch.js"></script>
    <div>
        <h1>Enter your details</h1>   
        <input type="submit" class="mt-5 btn btn-primary" id="save_marks" value="Back">     
    </div>
</div>