<div id="form7">
    <link rel="stylesheet" href="../../static/styles/form7.css">
    <script src="../../static/js/componentSwitch.js"></script>
    <div>
        <label for="">Type of company:</label>
        <br>
        <label for="web_services">web services</label>
        <input type="checkbox" name="web_services" value="webservices" id="company_choice1">
        <br>
        <label for="saas_services">saas services</label>
        <input type="checkbox" name="saas_services" value="saasservices" id="company_choice2">
        <br>
        <label for="sales_marketing">sales marketing</label>
        <input type="checkbox" name="sales_marketing" value="salesmarketing" id="company_choice3">
        <br>
        <label for="testing_and_mantainence_services">testing and mantainence services</label>
        <input type="checkbox" name="testing_and_mantainence_services" value="testingmantainenceservices" id="company_choice4">
        <br>
        <label for="product_development">product development</label>
        <input type="checkbox" name="product_development" value="productdevelopment" id="company_choice5">
        <br>
        <label for="service_based">service based</label>
        <input type="checkbox" name="service_based" value="servicebased" id="company_choice6">
        <br>
        <label for="product_based">product based</label>
        <input type="checkbox" name="product_based" value="productbased" id="company_choice7">
        <br>
        <label for="cloud_services">cloud services</label>
        <input type="checkbox" name="cloud_services" value="cloudservices" id="company_choice8">
        <br>
        <label for="finance">finance</label>
        <input type="checkbox" name="finance" value="finance" id="company_choice9">
        <br>
    <div class="d-flex flex-row justify-content-around">
        <input type="button" onclick="switchFivetoFour()" class="mt-5 btn btn-primary" value="Back">
        <input type="button" onclick="switchSevenToEight()" class="mt-5 btn btn-primary" value="Next">
    </div>
</div>